.header {
    background-color: #fff;
    padding: 15px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.name {
    font-size: 28px;
}

.dropdown {
    padding-top: 10px;
}

.dropdown select {
    border: none;
    background-color: #fff;
    color: #B393DA;
    font-size: 16px;
}